.form {
  background-color: #fff;
  border-radius: 10px;
  width: 430px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  margin: 0;
}

@media all and (max-width: 640px) {
  .form {
    width: 282px;
    padding: 26px 22px;
  }
}