.popup__container {
  display: flex;
  flex-direction: column;
  width: 470px;
  position: absolute;
  top: calc(50% - 194px);
  left: calc(50% - 207px);
}

@media all and (max-width: 640px) {
  .popup__container {
    width: 282px;
    left: calc(50% - 141px);
    top: calc(50% - 153px);
  }
}