.profile {
  margin: 40px 0 46px;
  display: grid;
  grid-template-columns: 120px 1fr 150px;
  grid-template-rows: 60px 60px;
  color: #fff;
  width: 100%;
}

@media all and (max-width: 880px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}