.footer__copyright {
  color: #545454;
  font-size: 18px;
  line-height: calc(11/9);
  font-weight: 400;
  max-width: 880px;
  margin: 67px auto 56px;
}

@media all and (max-width: 920px) {
  .footer__copyright {
    margin: 48px 0 36px 19px;
    font-size: 14px;
    line-height: 17px;
  }
}