.popup__close-button {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/popup-close-button.svg);
  background-size: cover;
  background-color: #000;
  border: none;
  padding: 0;
  align-self: end;
  margin: 0 0 8px 8px;
  transition: opacity 0.4s linear;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media all and (max-width: 640px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
  }
}